html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}
body {
  padding-top: 50px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  line-height: 1;
  background: black;
}
body.detail-open {
  overflow: hidden;
}
body.detail-open > ul,
body.detail-open header {
  display: none;
}
::-moz-selection {
  background-color: #0ff;
  color: white;
}
::selection {
  background-color: #0ff;
  color: white;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 900;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.hidden {
  display: none;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  margin: 15px 0;
  padding: 15px 20px 12px;
  display: inline-block;
  background-color: #40bae2;
  border-radius: 3px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.btn:hover {
  background-color: #1981a4;
}
header {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #40bae2;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
header nav {
  position: relative;
}
header h1 {
  margin-top: 8px;
  margin-left: -8px;
  float: left;
  color: white;
}
header h1 a {
  color: white;
  padding: 5px 8px;
}
header h1 a.nav-about {
  margin-left: 1px;
  color: #444;
}
header h1 a:hover {
  opacity: 0.5;
}
header input {
  width: 50%;
  margin-top: 1px;
  padding: 4px 10px 4px 30px;
  float: right;
  background: white url("images/icon-search.svg") no-repeat 8px 6px;
  background-size: 14px 14px;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 16px;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1;
}
header input::-webkit-input-placeholder {
  padding-top: 2px;
  font-size: 14px;
}
header input::-moz-placeholder {
  font-size: 14px;
  color: #666;
}
header input:focus {
  outline: none;
}
header .search-close {
  display: none;
}
@media (max-width: 500px) {
  header input {
    width: 30px;
    margin-left: 15px;
    padding-left: 20px;
    position: absolute;
    right: 0;
    -webkit-transition: width ease-out 0.2s;
    -moz-transition: width ease-out 0.2s;
    transition: width ease-out 0.2s;
  }
  header input:hover {
    cursor: pointer;
  }
  header input:focus {
    width: 100%;
    padding-left: 30px;
  }
  header input:focus:hover {
    cursor: default;
  }
}
.card {
  float: left;
  background: #444 no-repeat 50% 50%;
  background-size: cover;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
.card {
  width: 50%;
}
.card a {
  padding: 80px 20px;
  display: block;
  background: rgba(0,0,0,0.3);
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  color: white;
  z-index: 3;
}
@media (max-width: 400px) {
  .card a {
    padding: 50px 20px;
    font-size: 46px;
  }
}
.card a:hover {
  background: transparent;
}
@media (min-width: 600px) {
  .card {
    width: 33.33%;
  }
}
@media (min-width: 800px) {
  .card {
    width: 25%;
  }
}
@media (min-width: 1100px) {
  .card {
    width: 20%;
  }
}
@media (min-width: 1500px) {
  .card {
    width: 16.66%;
  }
}
@media (min-width: 2000px) {
  .card {
    width: 14.28%;
  }
}
.detail {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #444 no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  color: white;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.detail .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}
.detail .detail-info {
  border: 1px solid white;
}
.detail h1 {
  margin-bottom: 20px;
  font-size: 80px;
}
.detail h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight-normal: 400;
  line-height: 1.2;
}
.detail h3 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
}
.detail .btn {
  margin-top: 40px;
}
.detail .description {
  font-family: "clavo", Georgia, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 1.4;
}
.detail .description em {
  display: inline;
  border-bottom: 1px solid white;
  font-weight: 700;
  text-transform: uppercase;
}
.detail .social {
  margin: 30px 5px 0;
  display: inline-block;
}
.detail .social a {
  width: 35px;
  height: 25px;
  display: block;
  background: no-repeat 0 0;
  background-size: auto 25px;
  text-indent: -9999em;
}
.detail .social a.twitter {
  background-image: url("images/logo-twitter.svg");
}
.detail .social a.facebook {
  background-image: url("images/logo-facebook.svg");
}
.detail .social a:hover {
  opacity: 0.6;
}
.detail .photo-credit {
  padding: 7px;
  background: rgba(0,0,0,0.3);
  border-radius: 3px;
}
.detail .photo-credit a {
  color: white;
  font-weight: 900;
}
.detail .photo-credit a:hover {
  opacity: 0.5;
}
.detail .back {
  padding: 5px 8px;
  position: absolute;
  top: 13px;
  left: 7px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}
.detail .back:hover {
  opacity: 0.5;
}
@media (max-width: 650px) {
  .detail {
    width: 100%;
    height: 100%;
  }
  .detail .container {
    width: 100%;
    height: 100%;
    padding: 60px 15px 30px;
    overflow-y: auto;
  }
  .detail .detail-info {
    min-height: 320px;
    padding: 25px;
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  .detail .photo-credit {
    margin: 20px 0;
    display: inline-block;
  }
  .detail .back {
    background: rgba(0,0,0,0.6);
  }
}
@media (min-width: 651px) {
  .detail .detail-info {
    min-width: 450px;
    max-width: 750px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .detail .photo-credit {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
@media (min-width: 651px) and (max-height: 480px) {
  .detail {
    width: 100%;
    height: 100%;
  }
  .detail .container {
    width: 100%;
    height: 100%;
    padding: 60px 15px 30px;
    overflow-y: auto;
  }
  .detail .detail-info {
    min-height: 320px;
    margin: 0 auto;
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  .detail .photo-credit,
  .detail .back {
    background: rgba(0,0,0,0.6);
  }
}
.about {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #444 no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  color: white;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
.about:after {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(50,50,50,0.8);
  content: '';
}
.about .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}
.about .back {
  padding: 5px 8px;
  position: absolute;
  top: 13px;
  left: 7px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}
.about .back:hover {
  opacity: 0.5;
}
.about .container {
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  overflow-y: auto;
}
.about .about-info {
  max-width: 550px;
  margin: 80px auto;
}
@media (max-width: 500px) {
  .about .about-info {
    margin-top: 50px;
  }
}
.about h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
.about h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight-normal: 400;
  line-height: 1.2;
}
.about p {
  margin-bottom: 15px;
  font-family: "clavo", Georgia, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
}
.about p a {
  border-bottom: 1px dotted transparent;
  color: #40bae2;
  font-weight: 700;
}
.about p a:hover {
  border-color: #40bae2;
}
.about .sources {
  margin-top: 40px;
}
.about .sources p {
  margin-bottom: 10px;
  font-size: 15px;
}
.about .sources p a {
  color: white;
}
.lost {
  background-image: url("images/starwars.gif");
}
.about {
  background-image: url("images/airplane.gif");
}
.card.atl {
  background-image: url("images/_card/atl-jon-tan.jpg");
}
.card.aus {
  background-image: url("images/_card/aus-jon-collier.jpg");
}
.card.bhm {
  background-image: url("images/_card/bhm-martin-hartland.jpg");
}
.card.bog {
  background-image: url("images/_card/bog-stephen-downes.jpg");
}
.card.bom {
  background-image: url("images/_card/bom-chris-hoare.jpg");
}
.card.bos {
  background-image: url("images/_card/bos-andrew-malone.jpg");
}
.card.ccs {
  background-image: url("images/_card/ccs-carlos-graterol.jpg");
}
.card.cdg {
  background-image: url("images/_card/cdg-giacomo-carena.jpg");
}
.card.cgh {
  background-image: url("images/_card/cgh-barbara-dieu.jpg");
}
.card.clt {
  background-image: url("images/_card/clt-steve-sara-emry.jpg");
}
.card.cmh {
  background-image: url("images/_card/cmh-gmanviz.jpg");
}
.card.cvg {
  background-image: url("images/_card/cvg-robert-s-donovan.jpg");
}
.card.den {
  background-image: url("images/_card/den-bart-heird.jpg");
}
.card.dfw {
  background-image: url("images/_card/dfw-jim-nix.jpg");
}
.card.dtw {
  background-image: url("images/_card/dtw-scott-beale.jpg");
}
.card.dxb {
  background-image: url("images/_card/dxb-roger-price.jpg");
}
.card.ewr {
  background-image: url("images/_card/ewr-bartnj.jpg");
}
.card.eze {
  background-image: url("images/_card/eze-gilmar-mattos.jpg");
}
.card.fca {
  background-image: url("images/_card/fca-theilr.jpg");
}
.card.gig {
  background-image: url("images/_card/gig-veroyama.jpg");
}
.card.grr {
  background-image: url("images/_card/grr-bill-couch.jpg");
}
.card.gru {
  background-image: url("images/_card/gru-fernando-stankuns.jpg");
}
.card.hkg {
  background-image: url("images/_card/hkg-chris.jpg");
}
.card.hnd {
  background-image: url("images/_card/hnd-hideyuki-kamon.jpg");
}
.card.iad {
  background-image: url("images/_card/iad-the-q-speaks.jpg");
}
.card.iah {
  background-image: url("images/_card/iah-josh-hallett.jpg");
}
.card.icn {
  background-image: url("images/_card/icn-marcella-bona.jpg");
}
.card.jfk {
  background-image: url("images/_card/jfk-timothy-vogel.jpg");
}
.card.las {
  background-image: url("images/_card/las-kevin-reese.jpg");
}
.card.lax {
  background-image: url("images/_card/lax-thomas-hawk.jpg");
}
.card.lga {
  background-image: url("images/_card/lga-stantontcady.jpg");
}
.card.lhr {
  background-image: url("images/_card/lhr-twinkabaute.jpg");
}
.card.lim {
  background-image: url("images/_card/lim-vasenkaphotography.jpg");
}
.card.mci {
  background-image: url("images/_card/mci-zhao-shouren.jpg");
}
.card.mco {
  background-image: url("images/_card/mco-benjamin-thompson.jpg");
}
.card.mia {
  background-image: url("images/_card/mia-lotus-carroll.jpg");
}
.card.msp {
  background-image: url("images/_card/msp-tom-kelly.jpg");
}
.card.msy {
  background-image: url("images/_card/msy-3dom.jpg");
}
.card.ogg {
  background-image: url("images/_card/ogg-jonathan-caves.jpg");
}
.card.ord {
  background-image: url("images/_card/ord-nick-harris.jpg");
}
.card.pdx {
  background-image: url("images/_card/pdx-pfly.jpg");
}
.card.pek {
  background-image: url("images/_card/pek-matt-weibo.jpg");
}
.card.phl {
  background-image: url("images/_card/phl-uchiuska.jpg");
}
.card.phx {
  background-image: url("images/_card/phx-liebe5.jpg");
}
.card.rsw {
  background-image: url("images/_card/rsw-b.jpg");
}
.card.scl {
  background-image: url("images/_card/scl-lane-becker.jpg");
}
.card.sea {
  background-image: url("images/_card/sea-drburtoni.jpg");
}
.card.sfo {
  background-image: url("images/_card/sfo-richard-winchell.jpg");
}
.card.smf {
  background-image: url("images/_card/smf-rich.jpg");
}
.card.yvr {
  background-image: url("images/_card/yvr-rick-schwartz.jpg");
}
.card.yyz {
  background-image: url("images/_card/yyz-coralie-mercier.jpg");
}
@media (max-width: 700px) {
  .detail.atl {
    background-image: url("images/_small/atl-jon-tan.jpg");
  }
  .detail.aus {
    background-image: url("images/_small/aus-jon-collier.jpg");
  }
  .detail.bhm {
    background-image: url("images/_small/bhm-martin-hartland.jpg");
  }
  .detail.bog {
    background-image: url("images/_small/bog-stephen-downes.jpg");
  }
  .detail.bom {
    background-image: url("images/_small/bom-chris-hoare.jpg");
  }
  .detail.bos {
    background-image: url("images/_small/bos-andrew-malone.jpg");
  }
  .detail.ccs {
    background-image: url("images/_small/ccs-carlos-graterol.jpg");
  }
  .detail.cdg {
    background-image: url("images/_small/cdg-giacomo-carena.jpg");
  }
  .detail.cgh {
    background-image: url("images/_small/cgh-barbara-dieu.jpg");
  }
  .detail.clt {
    background-image: url("images/_small/clt-steve-sara-emry.jpg");
  }
  .detail.cmh {
    background-image: url("images/_small/cmh-gmanviz.jpg");
  }
  .detail.cvg {
    background-image: url("images/_small/cvg-robert-s-donovan.jpg");
  }
  .detail.den {
    background-image: url("images/_small/den-bart-heird.jpg");
  }
  .detail.dfw {
    background-image: url("images/_small/dfw-jim-nix.jpg");
  }
  .detail.dtw {
    background-image: url("images/_small/dtw-scott-beale.jpg");
  }
  .detail.dxb {
    background-image: url("images/_small/dxb-roger-price.jpg");
  }
  .detail.ewr {
    background-image: url("images/_small/ewr-bartnj.jpg");
  }
  .detail.eze {
    background-image: url("images/_small/eze-gilmar-mattos.jpg");
  }
  .detail.fca {
    background-image: url("images/_small/fca-theilr.jpg");
  }
  .detail.gig {
    background-image: url("images/_small/gig-veroyama.jpg");
  }
  .detail.grr {
    background-image: url("images/_small/grr-bill-couch.jpg");
  }
  .detail.gru {
    background-image: url("images/_small/gru-fernando-stankuns.jpg");
  }
  .detail.hkg {
    background-image: url("images/_small/hkg-chris.jpg");
  }
  .detail.hnd {
    background-image: url("images/_small/hnd-hideyuki-kamon.jpg");
  }
  .detail.iad {
    background-image: url("images/_small/iad-the-q-speaks.jpg");
  }
  .detail.iah {
    background-image: url("images/_small/iah-josh-hallett.jpg");
  }
  .detail.icn {
    background-image: url("images/_small/icn-marcella-bona.jpg");
  }
  .detail.jfk {
    background-image: url("images/_small/jfk-timothy-vogel.jpg");
  }
  .detail.las {
    background-image: url("images/_small/las-kevin-reese.jpg");
  }
  .detail.lax {
    background-image: url("images/_small/lax-thomas-hawk.jpg");
  }
  .detail.lga {
    background-image: url("images/_small/lga-stantontcady.jpg");
  }
  .detail.lhr {
    background-image: url("images/_small/lhr-twinkabaute.jpg");
  }
  .detail.lim {
    background-image: url("images/_small/lim-vasenkaphotography.jpg");
  }
  .detail.mci {
    background-image: url("images/_small/mci-zhao-shouren.jpg");
  }
  .detail.mco {
    background-image: url("images/_small/mco-benjamin-thompson.jpg");
  }
  .detail.mia {
    background-image: url("images/_small/mia-lotus-carroll.jpg");
  }
  .detail.msp {
    background-image: url("images/_small/msp-tom-kelly.jpg");
  }
  .detail.msy {
    background-image: url("images/_small/msy-3dom.jpg");
  }
  .detail.ogg {
    background-image: url("images/_small/ogg-jonathan-caves.jpg");
  }
  .detail.ord {
    background-image: url("images/_small/ord-nick-harris.jpg");
  }
  .detail.pdx {
    background-image: url("images/_small/pdx-pfly.jpg");
  }
  .detail.pek {
    background-image: url("images/_small/pek-matt-weibo.jpg");
  }
  .detail.phl {
    background-image: url("images/_small/phl-uchiuska.jpg");
  }
  .detail.phx {
    background-image: url("images/_small/phx-liebe5.jpg");
  }
  .detail.rsw {
    background-image: url("images/_small/rsw-b.jpg");
  }
  .detail.scl {
    background-image: url("images/_small/scl-lane-becker.jpg");
  }
  .detail.sea {
    background-image: url("images/_small/sea-drburtoni.jpg");
  }
  .detail.sfo {
    background-image: url("images/_small/sfo-richard-winchell.jpg");
  }
  .detail.smf {
    background-image: url("images/_small/smf-rich.jpg");
  }
  .detail.yvr {
    background-image: url("images/_small/yvr-rick-schwartz.jpg");
  }
  .detail.yyz {
    background-image: url("images/_small/yyz-coralie-mercier.jpg");
  }
}
@media (min-width: 701px) and (max-width: 1200px) {
  .detail.atl {
    background-image: url("images/_medium/atl-jon-tan.jpg");
  }
  .detail.aus {
    background-image: url("images/_medium/aus-jon-collier.jpg");
  }
  .detail.bhm {
    background-image: url("images/_medium/bhm-martin-hartland.jpg");
  }
  .detail.bog {
    background-image: url("images/_medium/bog-stephen-downes.jpg");
  }
  .detail.bom {
    background-image: url("images/_medium/bom-chris-hoare.jpg");
  }
  .detail.bos {
    background-image: url("images/_medium/bos-andrew-malone.jpg");
  }
  .detail.ccs {
    background-image: url("images/_medium/ccs-carlos-graterol.jpg");
  }
  .detail.cdg {
    background-image: url("images/_medium/cdg-giacomo-carena.jpg");
  }
  .detail.cgh {
    background-image: url("images/_medium/cgh-barbara-dieu.jpg");
  }
  .detail.clt {
    background-image: url("images/_medium/clt-steve-sara-emry.jpg");
  }
  .detail.cmh {
    background-image: url("images/_medium/cmh-gmanviz.jpg");
  }
  .detail.cvg {
    background-image: url("images/_medium/cvg-robert-s-donovan.jpg");
  }
  .detail.den {
    background-image: url("images/_medium/den-bart-heird.jpg");
  }
  .detail.dfw {
    background-image: url("images/_medium/dfw-jim-nix.jpg");
  }
  .detail.dtw {
    background-image: url("images/_medium/dtw-scott-beale.jpg");
  }
  .detail.dxb {
    background-image: url("images/_medium/dxb-roger-price.jpg");
  }
  .detail.ewr {
    background-image: url("images/_medium/ewr-bartnj.jpg");
  }
  .detail.eze {
    background-image: url("images/_medium/eze-gilmar-mattos.jpg");
  }
  .detail.fca {
    background-image: url("images/_medium/fca-theilr.jpg");
  }
  .detail.gig {
    background-image: url("images/_medium/gig-veroyama.jpg");
  }
  .detail.grr {
    background-image: url("images/_medium/grr-bill-couch.jpg");
  }
  .detail.gru {
    background-image: url("images/_medium/gru-fernando-stankuns.jpg");
  }
  .detail.hkg {
    background-image: url("images/_medium/hkg-chris.jpg");
  }
  .detail.hnd {
    background-image: url("images/_medium/hnd-hideyuki-kamon.jpg");
  }
  .detail.iad {
    background-image: url("images/_medium/iad-the-q-speaks.jpg");
  }
  .detail.iah {
    background-image: url("images/_medium/iah-josh-hallett.jpg");
  }
  .detail.icn {
    background-image: url("images/_medium/icn-marcella-bona.jpg");
  }
  .detail.jfk {
    background-image: url("images/_medium/jfk-timothy-vogel.jpg");
  }
  .detail.las {
    background-image: url("images/_medium/las-kevin-reese.jpg");
  }
  .detail.lax {
    background-image: url("images/_medium/lax-thomas-hawk.jpg");
  }
  .detail.lga {
    background-image: url("images/_medium/lga-stantontcady.jpg");
  }
  .detail.lhr {
    background-image: url("images/_medium/lhr-twinkabaute.jpg");
  }
  .detail.lim {
    background-image: url("images/_medium/lim-vasenkaphotography.jpg");
  }
  .detail.mci {
    background-image: url("images/_medium/mci-zhao-shouren.jpg");
  }
  .detail.mco {
    background-image: url("images/_medium/mco-benjamin-thompson.jpg");
  }
  .detail.mia {
    background-image: url("images/_medium/mia-lotus-carroll.jpg");
  }
  .detail.msp {
    background-image: url("images/_medium/msp-tom-kelly.jpg");
  }
  .detail.msy {
    background-image: url("images/_medium/msy-3dom.jpg");
  }
  .detail.ogg {
    background-image: url("images/_medium/ogg-jonathan-caves.jpg");
  }
  .detail.ord {
    background-image: url("images/_medium/ord-nick-harris.jpg");
  }
  .detail.pdx {
    background-image: url("images/_medium/pdx-pfly.jpg");
  }
  .detail.pek {
    background-image: url("images/_medium/pek-matt-weibo.jpg");
  }
  .detail.phl {
    background-image: url("images/_medium/phl-uchiuska.jpg");
  }
  .detail.phx {
    background-image: url("images/_medium/phx-liebe5.jpg");
  }
  .detail.rsw {
    background-image: url("images/_medium/rsw-b.jpg");
  }
  .detail.scl {
    background-image: url("images/_medium/scl-lane-becker.jpg");
  }
  .detail.sea {
    background-image: url("images/_medium/sea-drburtoni.jpg");
  }
  .detail.sfo {
    background-image: url("images/_medium/sfo-richard-winchell.jpg");
  }
  .detail.smf {
    background-image: url("images/_medium/smf-rich.jpg");
  }
  .detail.yvr {
    background-image: url("images/_medium/yvr-rick-schwartz.jpg");
  }
  .detail.yyz {
    background-image: url("images/_medium/yyz-coralie-mercier.jpg");
  }
}
@media (min-width: 1201px) {
  .detail.atl {
    background-image: url("images/_large/atl-jon-tan.jpg");
  }
  .detail.aus {
    background-image: url("images/_large/aus-jon-collier.jpg");
  }
  .detail.bhm {
    background-image: url("images/_large/bhm-martin-hartland.jpg");
  }
  .detail.bog {
    background-image: url("images/_large/bog-stephen-downes.jpg");
  }
  .detail.bom {
    background-image: url("images/_large/bom-chris-hoare.jpg");
  }
  .detail.bos {
    background-image: url("images/_large/bos-andrew-malone.jpg");
  }
  .detail.ccs {
    background-image: url("images/_large/ccs-carlos-graterol.jpg");
  }
  .detail.cdg {
    background-image: url("images/_large/cdg-giacomo-carena.jpg");
  }
  .detail.cgh {
    background-image: url("images/_large/cgh-barbara-dieu.jpg");
  }
  .detail.clt {
    background-image: url("images/_large/clt-steve-sara-emry.jpg");
  }
  .detail.cmh {
    background-image: url("images/_large/cmh-gmanviz.jpg");
  }
  .detail.cvg {
    background-image: url("images/_large/cvg-robert-s-donovan.jpg");
  }
  .detail.den {
    background-image: url("images/_large/den-bart-heird.jpg");
  }
  .detail.dfw {
    background-image: url("images/_large/dfw-jim-nix.jpg");
  }
  .detail.dtw {
    background-image: url("images/_large/dtw-scott-beale.jpg");
  }
  .detail.dxb {
    background-image: url("images/_large/dxb-roger-price.jpg");
  }
  .detail.ewr {
    background-image: url("images/_large/ewr-bartnj.jpg");
  }
  .detail.eze {
    background-image: url("images/_large/eze-gilmar-mattos.jpg");
  }
  .detail.fca {
    background-image: url("images/_large/fca-theilr.jpg");
  }
  .detail.gig {
    background-image: url("images/_large/gig-veroyama.jpg");
  }
  .detail.grr {
    background-image: url("images/_large/grr-bill-couch.jpg");
  }
  .detail.gru {
    background-image: url("images/_large/gru-fernando-stankuns.jpg");
  }
  .detail.hkg {
    background-image: url("images/_large/hkg-chris.jpg");
  }
  .detail.hnd {
    background-image: url("images/_large/hnd-hideyuki-kamon.jpg");
  }
  .detail.iad {
    background-image: url("images/_large/iad-the-q-speaks.jpg");
  }
  .detail.iah {
    background-image: url("images/_large/iah-josh-hallett.jpg");
  }
  .detail.icn {
    background-image: url("images/_large/icn-marcella-bona.jpg");
  }
  .detail.jfk {
    background-image: url("images/_large/jfk-timothy-vogel.jpg");
  }
  .detail.las {
    background-image: url("images/_large/las-kevin-reese.jpg");
  }
  .detail.lax {
    background-image: url("images/_large/lax-thomas-hawk.jpg");
  }
  .detail.lga {
    background-image: url("images/_large/lga-stantontcady.jpg");
  }
  .detail.lhr {
    background-image: url("images/_large/lhr-twinkabaute.jpg");
  }
  .detail.lim {
    background-image: url("images/_large/lim-vasenkaphotography.jpg");
  }
  .detail.mci {
    background-image: url("images/_large/mci-zhao-shouren.jpg");
  }
  .detail.mco {
    background-image: url("images/_large/mco-benjamin-thompson.jpg");
  }
  .detail.mia {
    background-image: url("images/_large/mia-lotus-carroll.jpg");
  }
  .detail.msp {
    background-image: url("images/_large/msp-tom-kelly.jpg");
  }
  .detail.msy {
    background-image: url("images/_large/msy-3dom.jpg");
  }
  .detail.ogg {
    background-image: url("images/_large/ogg-jonathan-caves.jpg");
  }
  .detail.ord {
    background-image: url("images/_large/ord-nick-harris.jpg");
  }
  .detail.pdx {
    background-image: url("images/_large/pdx-pfly.jpg");
  }
  .detail.pek {
    background-image: url("images/_large/pek-matt-weibo.jpg");
  }
  .detail.phl {
    background-image: url("images/_large/phl-uchiuska.jpg");
  }
  .detail.phx {
    background-image: url("images/_large/phx-liebe5.jpg");
  }
  .detail.rsw {
    background-image: url("images/_large/rsw-b.jpg");
  }
  .detail.scl {
    background-image: url("images/_large/scl-lane-becker.jpg");
  }
  .detail.sea {
    background-image: url("images/_large/sea-drburtoni.jpg");
  }
  .detail.sfo {
    background-image: url("images/_large/sfo-richard-winchell.jpg");
  }
  .detail.smf {
    background-image: url("images/_large/smf-rich.jpg");
  }
  .detail.yvr {
    background-image: url("images/_large/yvr-rick-schwartz.jpg");
  }
  .detail.yyz {
    background-image: url("images/_large/yyz-coralie-mercier.jpg");
  }
}
